[submodule "Agile"]
	path = Agile
	url = https://github.com/Akash073-hub/Agile
[submodule "Mobile-application-developments"]
	path = Mobile-application-developments
	url = https://github.com/Akash073-hub/Mobile-application-developments.git
